@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@400;500;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --bg-colour: black;
    --board-colour: white;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg-colour);
}

.gameDisplay {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}

.board {
    background-color: var(--board-colour);
    width: min-content;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: var(--board-colour);
}

.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: rgb(92, 92, 92);
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before {
    background-color: var(--board-colour);
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(92, 92, 92);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: var(--bg-colour);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before, 
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);

}

.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    font-size: 3rem;
}

.winning-message button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .8rem 1.75rem;
    cursor: pointer;
    border-radius: 0.5rem;
    text-align: center;
}

.winning-message button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show {
    display: flex;
}